@import "scss/mixins.scss";
@import "scss/variables.scss";

.Modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  background: rgba(0, 0, 0, 0.8);

  &-container {
    position: relative;
    background: #eaeaea;
    border-radius: 4px;
    padding: 8px;
    border: 4px double #333;
    color: #333;
  }

  &-close {
    position: absolute;
    right: -4px;
    top: -45px;
    background: #eaeaea;
    padding: 2px;
    border-radius: 4px;

    .Button {
      margin: 0;
    }
  }
}
